.text_color_main{
    color: var(--uikit-text-color-main);
}

.text_color_secondary{
    color: var(--uikit-text-color-secondary);
}

.text_color_warning{
    color: var(--uikit-text-color-warning);
}

.text_color_error{
    color: var(--uikit-text-color-error);
}

.text_color_successfully{
    color: var(--uikit-text-color-successfully);
}

.text_color_information{
    color: var(--uikit-text-color-information);
}
