.Sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--uikit-widgets-bg);
    border-top-left-radius: var(--uikit-border-radius);
    border-bottom-left-radius: var(--uikit-border-radius);
    padding: var(--uikit-padding-m);
}
