@use 'styles/effects/glasses';
@use 'styles/effects/shadows';
@use '../../../controls';

.disabled{
    @include controls.disabled;
}
.TextField{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    margin: var(--uikit-margin-control-strength-height);
}

.TextField__Background{
    @include controls.defaultStyles;
    &:hover{
        @include controls.hover
    }
    
    display: flex;
    align-items: center;

    border-radius: var(--uikit-border-radius-control);
    border: var(--uikit-border-controls);
}

.TextField__Background__Field {
    position: relative;

    display: flex;
    flex-direction: column;

    .TextField__Background__Field__label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 1rem .75rem;
        pointer-events: none;
        border: 1px solid transparent;
        transform-origin: 0 0;
        transition: opacity .15s ease-in-out, transform .15s ease-in-out;
    }
}

.TextField__Background__SwitcherMask{
    background: transparent;
    border: none;

    margin-right: 0.5rem;
    cursor: pointer;

    &:active{
        transform: scale(0.9);
    }
}

.TextField__counter{
    align-self: flex-end;
    margin: 0 5px;
}

.TextField__Background__Field__input{
    background-color: transparent;

    border: none;

    font-size: var(--uikit-font-size-important);
    height: calc(3.5rem + 2px);
    line-height: 1.25;
    padding: 0.75rem 0.5rem;

    &:focus{
        outline: none;
    }

    
}


.TextField__Background__Field__input::-moz-placeholder {
    color: transparent;
}
.TextField__Background__Field__input::placeholder {
    color: transparent;
}
.TextField__Background__Field__input:focus,
.TextField__Background__Field__input:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem;
}
.TextField__Background__Field__input:focus~.TextField__Background__Field__label,
.TextField__Background__Field__input:not(:placeholder-shown)~.TextField__Background__Field__label {
    opacity: .65;
    transform: scale(.85) translateY(-.75rem) translateX(.15rem);
}