// @use 'styles/effects/shadows';
@use '../../../controls';

.disabled{
    @include controls.disabled;
}

.background{
    @include controls.defaultStyles;
    &:hover{
        @include controls.hover
    }
    
    // display: flex;
    // align-items: center;

    border-radius: var(--uikit-border-radius);
    background: var(--uikit-controls-bg);
    padding: var(--uikit-padding-xxs) var(--uikit-padding-s);
}

.field {
    position: relative;

    .label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding-top: 0.2rem;
        pointer-events: none;
        border: 1px solid transparent;
        transform-origin: 0 0;
        transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    }
}

.input{
    background-color: transparent;

    border: none;

    height: calc(3rem);
    //line-height: 2.25;

    width: 200px;

    &:focus{
        outline: none;
    }
}


.input::-moz-placeholder {
    color: transparent;
}
.input::placeholder {
    color: transparent;
}
.input:focus,
.input:not(:placeholder-shown) {
    // padding-top: 1.625rem;
    padding-top: 1rem;
}
.input:focus~.label,
.input:not(:placeholder-shown)~.label {
    opacity: .65;
    transform: scale(.85) translateY(-.2rem) translateX(.15rem);
}