// @use 'styles/effects/glasses';
// @use 'styles/effects/shadows';
// @use '../../../controls';

// .disabled{
//     @include controls.disabled;
// }
.TextField{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    margin: var(--uikit-margin-control-strength-height);
}

.background{
    // @include controls.defaultStyles;
    // &:hover{
    //     @include controls.hover
    // }
    
    // display: flex;
    // align-items: center;

    border-radius: var(--uikit-border-radius);
    background: var(--uikit-controls-bg);
    padding: 0 0.5rem;
}

.field {
    position: relative;

    .label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 1rem .75rem;
        pointer-events: none;
        border: 1px solid transparent;
        transform-origin: 0 0;
        transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    }
}

.btnMask{
    background: transparent;
    border: none;
}

.input{
    background-color: transparent;

    border: none;

    font-size: var(--uikit-font-size-important);
    height: calc(3.5rem + 2px);
    line-height: 1.25;


    &:focus{
        outline: none;
    }
}


.input::-moz-placeholder {
    color: transparent;
}
.input::placeholder {
    color: transparent;
}
.input:focus,
.input:not(:placeholder-shown) {
    padding-top: 1.625rem;
   
}
.input:focus~.label,
.input:not(:placeholder-shown)~.label {
    opacity: .65;
    transform: scale(.85) translateY(-.75rem) translateX(.15rem);
}