@use '../../../controls';

.fullWidth {
    width: 100%;
}

.disabled,
.readonly {
    opacity: 0.7;
}

.wrapper {
    @include controls.defaultStyles;
    &:hover{
        @include controls.hover
    }
    background-clip: padding-box;
    padding: 0.25rem 0.25rem;
    border-radius: var(--uikit-border-radius);

    .input {
        background-color: transparent;
        border: none;
        outline: none;
        display: block;
        padding: 0.15rem 0.35rem;
        appearance: none;
        border-radius: 4px;
        box-shadow: inset -1em 0 0.5em rgba(0,0,0, 0.2);
    }

    .input::placeholder {
        color: #212529;
        opacity: 0.4;
    }
}
