:root{
    --uikit-padding-default: 10px 5px;
    --uikit-padding-strength: 1rem 1.25rem;

    --uikit-padding-quad: 0.1rem 0.1rem;
    --uikit-padding-strength-width: 0.5rem 1rem;

    //Выделил в переменные, чтобы переиспользовать и избежать магических чисел
    --uikit-padding-strength-height-h: 0.3rem;
    --uikit-padding-strength-height-w: 0.2rem;
    --uikit-padding-strength-height: 
        var(--uikit-padding-strength-height-h)
        var(--uikit-padding-strength-height-w);
    
}