:root{
    --uikit-padding-default: 10px 5px;
    --uikit-padding-strength: 1rem 1.25rem;

    --uikit-padding-quad: 0.2rem 0.2rem;
    --uikit-padding-strength-width: 0.5rem 1rem;
    --uikit-padding-strength-height: 0.3rem 0.2rem;
    
}