@use 'styles/effects/glasses';
@use 'styles/effects/shadows';

.WindowBrowser{
    @include glasses.glass('dark', 8px);
    border-radius: var(--uikit-border-radius-window);
    @include shadows.shadowWindow;

    @include shadows.shadowText;

    font-family: var(--font-family-main);
    color: var(--font-color-main);

    // min-height: 50%;
    max-height: 90%;
    // min-width: 60%;
    max-width: 90%;

    overflow: hidden;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
}