.Overlay {
    background: var(--uikit-utils-overlay-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: var(--uikit-utils-overlay-z-index);
    cursor: pointer;
}
