.panel {
    background: var(--uikit-controls-bg);
    position: absolute;
    z-index: var(--uikit-controls-menu-z-index);
    
    border-radius: var(--uikit-border-radius);
    padding: var(--uikit-padding-s);
}
