@use '../../../controls';

.Select__wrapper {
  position: relative;

  @include controls.defaultStyles;
  &:hover{
		@include controls.hover;
	}
  
  border: var(--uikit-border-controls);
  border-radius: var(--uikit-border-radius-control);

	margin: var(--uikit-margin-control-strength-height);

  z-index: 10;

  &:disabled{
    @include controls.disabled;
  }
}
  
.Select__wrapper__arrow {
  position: absolute;
  right: 6px;
  top: 50%;
  transition: transform 0.2s ease-in-out, margin-top 0.2s ease-in-out;
  margin-top: -12px;
}
  
.Select__wrapper__placeholder {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  background: none;
  width: 100%;
  border: none;
  padding: var(--uikit-padding-control-strength-width);
}
  


.Select__wrapper[data-is-active="true"] .Select__wrapper__arrow {
  transform: rotate(180deg);
  margin-top: -6px;
}

.Select__wrapper__select {
  @include controls.defaultStyles;
  background-color: #7e7e7ed3;

  border: none;
  border-radius: var(--uikit-border-radius-control);

  display: grid;
  position: absolute;

  width: 100%;

  list-style: none;
}