@import '../../styles/effects/glass.scss';
@import '../../styles/effects/shadows.scss';

.WindowBrowserHeader{
    @include glass('light');
    @include shadow('window');

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 5px;
}