@use 'styles/effects/glasses';
.Tape{
    @include glasses.sectionBlock;

    display: inline-flex;
    flex-direction: column;

    margin: var(--uikit-margin-section-strength-height);

    border-radius: var(--uikit-border-radius-section);
	border: var(--uikit-border-section);

    max-height: 700px;

    .Tape__header{
        @include glasses.sectionElement;

        border-radius: var(--uikit-border-radius-section);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        border: var(--uikit-border-section);
        
        border-top: none;
        border-left: none;
        border-right: none;
    
        display: flex;
        justify-content: center;
    };
    
    .Tape__content{
        @include glasses.sectionElement;
        border-radius: var(--uikit-border-radius-section);
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        overflow-y: auto;
    
        padding: var(--uikit-padding-section-strength-height);
    };
};