@use 'styles/effects/glasses';
@use 'styles/effects/shadows';
.Tape{
    @include glasses.sectionElement;

    display: inline-flex;
    flex-direction: column;

    margin: var(--uikit-margin-section-strength-height);

    border-radius: var(--uikit-border-radius-section);
	border: var(--uikit-border-section);

    max-height: 700px;

    .Tape__header{
        @include glasses.sectionBlock;
        border-top: none;
        border-left: none;
        border-right: none;
    
        @include shadows.section;
    
        display: flex;
        justify-content: center;
    };
    
    .Tape__content{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        overflow-y: auto;
    
        padding: var(--uikit-padding-section-strength-height);
    };
};