/*
    In this document described the standards for z-index.
*/
:root{
// components
// widgets
// utils
    --uikit-overlay-z-index: 2;
    --uikit-utils-z-index: 3;

    --uikit-utils-notification-z-index: 4;
}