/*
    In this document described the standards for z-index.
*/
:root {
    // components
    // widgets
    // utils
    --uikit-controls-menu-z-index: 2;
    --uikit-utils-overlay-z-index: 3;
    --uikit-utils-z-index: 4;
    --uikit-utils-modal-overlay-z-index: 5;
    --uikit-utils-modal-z-index: 6;
    --uikit-utils-alert-z-index: 7;
    --uikit-utils-notification-z-index: 7;
}
