@use 'styles/effects/glasses';



.Input{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;

    margin: var(--uikit-margin-strength-height);

    .Input__Background{
        @include glasses.controls;

        display: flex;
        align-items: center;

        .Input__Background__Field {
            position: relative;
        
            display: flex;
            flex-direction: column;

            .Input__Background__Field__label {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                padding: 1rem .75rem;
                pointer-events: none;
                border: 1px solid transparent;
                transform-origin: 0 0;
                transition: opacity .15s ease-in-out, transform .15s ease-in-out;
            }
        }

        .Input__Background__SwitcherMask{
            margin-right: 0.5rem;

            .SwitcherMask{
                cursor: pointer;
                &:active{
                    transform: scale(0.96);
                }
            }
        }
    }
    .Input__counter{
        align-self: flex-end;
        margin: var(--uikit-margin-strength);
    }
}


.Input__Background__Field__input{
    background-color: transparent;

    border: none;

    font-size: var(--uikit-font-size-important);

    height: calc(3.5rem + 2px);
    line-height: 1.25;
    padding: 0.75rem 0.5rem;

    &:focus{
        outline: none;
    }
}


.Input__Background__Field__input::-moz-placeholder {
    color: transparent;
}
.Input__Background__Field__input::placeholder {
    color: transparent;
}
.Input__Background__Field__input:focus,
.Input__Background__Field__input:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem;
}
.Input__Background__Field__input:focus~.Input__Background__Field__label,
.Input__Background__Field__input:not(:placeholder-shown)~.Input__Background__Field__label {
    opacity: .65;
    transform: scale(.85) translateY(-.75rem) translateX(.15rem);
}
