.image{
    background: url('./bg2.jpg');
}

.bg{
    display: flex;
    justify-content: center;
    align-items: center;
/* 
    background-image: url('./bg3.jpg');
    background-size: cover; */

    background-color: rgba(105, 105, 105, 0.3);
}