//Прячем нативный элемент
.ProgressBar
{
  margin: var(--uikit-margin-control-strength-height);

  display: flex;
  align-items: center;
  justify-content: center;
}

.ProgressBar progress
{
  width: 0;
  height: 0;

  position: absolute;
  overflow: hidden;
  left: -777px;
}

.ProgressBar__bar
{
  border-radius: var(--uikit-border-radius-section);

  overflow: hidden;
  top: 0;
  left: 0;
}
.ProgressBar__bar-horizontal{
  width: 0;
  height: 100%;
}
.ProgressBar__bar-vertical{
  width: 100%;
  height: 0;
}
.progress-value
{
  display: flex;
  align-self: center;

  position: absolute; 
}

.ProgressBar__bg
{
  padding: 1px;

  display: flex;
  align-items: flex-end;

  border: var(--uikit-border-section-element);
  border-radius: var(--uikit-border-radius-section);

  background: var(--uikit-background-section-element);

  overflow: hidden;
}
.ProgressBar__bg-horizontal{
  height: 30px;
  width: 150px;
}
.ProgressBar__bg-vertical{
  height: 150px;
  width: 40px;
}
// Наводим красоту
.ProgressBar__bar:after
{
  width: 100%;
  height: 100%;

  position: absolute;
  content: '';
  top: 0;
  left: 0;
}
// Заполнение прогресса
.ProgressBar progress[value="1"] ~ .ProgressBar__bg-horizontal .ProgressBar__bar-horizontal
{
  width: 1%; 
}
.ProgressBar progress[value="1"] ~ .ProgressBar__bg-vertical .ProgressBar__bar-vertical
{
  height: 1%; 
}

@mixin progressBarBackground($i){
  @if $i <= 33 {
    background-color: var(--uikit-color-progress-f); 
  }
  @else if $i > 33 and $i <= 50 {
    background-color: var(--uikit-color-progress-d); 
  }
  @else if $i > 50 and $i <= 66 {
    background-color: var(--uikit-color-progress-c); 
  }
  @else if $i > 66 and $i <= 85 {
    background-color: var(--uikit-color-progress-b); 
  }
  @else{
    background-color: var(--uikit-color-progress-a); 
  }
}
@for $i from 0 through 100 {
  .ProgressBar progress[value="#{$i}"]
  {
      & ~ .ProgressBar__bg-horizontal .ProgressBar__bar-horizontal { 
        @include progressBarBackground($i);
        width: $i * 1%; 
      } 
      & ~ .ProgressBar__bg-vertical .ProgressBar__bar-vertical { 
        @include progressBarBackground($i);
        height: $i * 1%; 
      }   
  }
}