@use 'styles/effects/glasses';
@use 'styles/effects/shadows';
@use '../../../controls';

.disabled{
    @include controls.disabled;
}
.TextArea{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    margin: var(--uikit-margin-control-strength-height);
}

.TextArea__Background{
    @include controls.defaultStyles;
    &:hover{
        @include controls.hover
    }

    border-radius: var(--uikit-border-radius-control);
    border: var(--uikit-border-controls);
}

.TextArea__Background__Field {
    position: relative;

    display: flex;
    flex-direction: column;

    .TextArea__Background__Field__label {
        position: absolute;
        top: 0;
        left: 0;
        //height: 100%;
        padding: 1rem .75rem;
        pointer-events: none;
        border: 1px solid transparent;
        transform-origin: 0 0;
        transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    }
}

.TextArea__counter{
    align-self: flex-end;
    margin: 0 5px;
}

.TextArea__Background__Field__input{
    resize: none;

    background-color: transparent;

    border: none;

    font-size: var(--uikit-font-size-regular);
    //height: calc(3.5rem + 2px);
    line-height: 1.25;
    padding:0 0.5rem;

    &:focus{
        outline: none;
    }
    padding-top: 1.625rem;
    
}


.TextArea__Background__Field__input::-moz-placeholder {
    color: transparent;
}
.TextArea__Background__Field__input::placeholder {
    color: transparent;
}
.TextArea__Background__Field__input:focus,
.TextArea__Background__Field__input:not(:placeholder-shown) {
    
}
.TextArea__Background__Field__input:focus~.TextArea__Background__Field__label,
.TextArea__Background__Field__input:not(:placeholder-shown)~.TextArea__Background__Field__label {
    opacity: .65;
    transform: scale(.85) translateY(-.75rem) translateX(.15rem);
}