// @use 'styles/effects/shadows';
@use '../../../controls';

.disabled {
    @include controls.disabled;
}

.field {
    @include controls.default-styles;

    &:hover {
        @include controls.hover;
    }

    border-radius: var(--uikit-border-radius);
    position: relative;

    .label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem 0.75rem;
        pointer-events: none;
        border: 1px solid transparent;
        transform-origin: 0 0;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
}

.input {
    resize: none;
    background-color: transparent;
    border: none;
    line-height: 1.25;

    &:focus {
        outline: none;
    }

    padding-top: 1.625rem;
}

.input::placeholder {
    color: transparent;
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.75rem) translateX(0.15rem);
}
