.title{
    font-size: var(--uikit-font-size-title);
}

.subtitle{
    font-size: var(--uikit-font-size-subtitle);
}

.important{
    font-size: var(--uikit-font-size-important);
}

.regular{
    font-size: var(--uikit-font-size-regular);
}

.regularsmall{
    font-size: var(--uikit-font-size-regularsmall);
}
