.main {
    color: var(--uikit-text-color-main);
}

.secondary {
    color: var(--uikit-text-color-secondary);
}

.warning {
    color: var(--uikit-text-color-warning);
}

.error {
    color: var(--uikit-text-color-error);
}

.success {
    color: var(--uikit-text-color-successfully);
}

.info {
    color: var(--uikit-text-color-information);
}
