.Table{
    background: var(--uikit-background-section-block);

    border: var(--uikit-border-section-block);
    border-radius: var(--uikit-border-radius-section);

    margin: var(--uikit-margin-section-strength-height);

    display: inline-flex;
}