.Dropdown {
    position: relative;
}

.menu {
    background: var(--uikit-controls-bg);
    position: absolute;
    z-index: var(--uikit-controls-menu-z-index);
    border-radius: var(--uikit-border-radius);
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.item {
    padding: var(--uikit-padding-s) var(--uikit-padding-m);
    width: 100%;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsTopLeft {
    right: 0;
    bottom: 100%;
}
