.popup {
    position: relative;
}

.active {
    background: var(--uikit-controls-bg-hover-color);
    //border-radius: var(--uikit-border-radius);
}

.disabled {
    opacity: 0.3;
}

.trigger {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsTopLeft {
    bottom: 100%;
    right: 0;
}
