@use 'styles/effects/glasses';
@use 'styles/effects/shadows';

.WindowBrowser{
    @include glasses.dark(8px);
    
    @include shadows.box;
    max-height: 90%;
    max-width: 90%;

    overflow: hidden;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
}