@mixin control {
    transition: all 0.3s ease;
}

@mixin util {
    transition: 0.3s transform;
    transform: scale(0.5);
}

@mixin util-opened {
    transform: scale(1);
}

@mixin util-closing {
    transform: scale(0.2);
}
