/* From https://css.glass */
@mixin glass(
            $background, 
            ){

    $blur: 5px;
                
    background: $background;

    backdrop-filter: blur($blur);
    -webkit-backdrop-filter: blur($blur);
};

/*
    Названия миксинов - уровень вложенности блоков
*/


@mixin window{
    @include glass(
        $background:var(--uikit-color-background-window)
    );
}; 

@mixin section{
    @include glass(
        $background:var(--uikit-background-section)
    );
};
@mixin sectionBlock{
    @include glass(
        $background:var(--uikit-background-section-block)
    );
};
@mixin sectionElement{
    @include glass(
        $background:var(--uikit-background-section-element)
    );
}
@mixin sectionModificator{
    @include glass(
        $background:var(--uikit-background-section-modificator)
    );
}

// ===

// Элементы управления (инпуты, кнопки т. д.)
@mixin control{
    @include glass(
        $background: var(--uikit-background-control)
    );
    //border: var(--uikit-border-controls);

    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
}