/* From https://css.glass */
@mixin glass(
            $background, 
            ){ 
    background: $background;

    // $blur: 0;
    // backdrop-filter: blur($blur);
    // -webkit-backdrop-filter: blur($blur);
};

//  windows
@mixin window{
    @include glass(
        $background:var(--uikit-color-background-window)
    );
}; 


//  sections
@mixin section{
    @include glass(
        $background:var(--uikit-background-section)
    );
};
@mixin sectionBlock{
    @include glass(
        $background:var(--uikit-background-section-block)
    );
};
@mixin sectionElement{
    @include glass(
        $background:var(--uikit-background-section-element)
    );
}
@mixin sectionModificator{
    @include glass(
        $background:var(--uikit-background-section-modificator)
    );
}


//  controls
@mixin control{
    @include glass(
        $background: var(--uikit-background-control)
    );
    //border: var(--uikit-border-controls);

    // backdrop-filter: blur(0);
    // -webkit-backdrop-filter: blur(0);
}


//  utils
@mixin util{
    @include glass(
        $background: var(--uikit-background-util-content)
    );

    // backdrop-filter: blur(7px);
    // -webkit-backdrop-filter: blur(7px);
}