@mixin window {
    $shadow-color: var(--uikit-color-shadow-window);
    $indent: 10px;
    $dispersion: 15px;

    box-shadow:
        0   $indent     $dispersion $shadow-color,
        0   -1 * $indent  $dispersion $shadow-color,
        $indent     0   $dispersion $shadow-color,
        -1 * $indent  0   $dispersion $shadow-color;
}

@mixin section {
    box-shadow: 0 10px 20px var(--uikit-color-shadow-section);
}

@mixin control {
    $shadow-color: var(--uikit-color-shadow-control);
    $indent: 3px;
    $dispersion: 5px;

    box-shadow:
        0   $indent     $dispersion $shadow-color,
        0   -1 * $indent  $dispersion $shadow-color,
        $indent     0   $dispersion $shadow-color,
        -1 * $indent  0   $dispersion $shadow-color;
}

@mixin text {
    $shadow-color: rgb(0 0 0);
    $indent: 3px;
    $dispersion: 3px;

    // text-shadow:
    //             0   $indent     $dispersion $shadow-color,
    //             0   -1*$indent  $dispersion $shadow-color,
    //             $indent     0   $dispersion $shadow-color,
    //             -1*$indent  0   $dispersion $shadow-color;

    text-shadow: $indent $indent $dispersion $shadow-color;
}
