@mixin form{
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.233);
}

@mixin control{
    //box-shadow: 0 10px 15px rgba(255, 255, 255, 0.425);


    $shadow-color: rgba(255, 255, 255, 0.473);
    $indent: 3px;
    $dispersia: 5px;

    box-shadow: 
                0   $indent     $dispersia $shadow-color,
                0   -1*$indent  $dispersia $shadow-color,
                $indent     0   $dispersia $shadow-color,
                -1*$indent  0   $dispersia $shadow-color;

}

@mixin text{
    $shadow-color: rgb(0, 0, 0);
    $indent: 3px;
    $dispersia: 5px;

    text-shadow: 
                0   $indent     $dispersia $shadow-color,
                0   -1*$indent  $dispersia $shadow-color,
                $indent     0   $dispersia $shadow-color,
                -1*$indent  0   $dispersia $shadow-color;
}