@use 'styles/effects/glasses';
@use 'styles/effects/anims';

.Notify{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
}

.Notify__wrapper{
    @include glasses.util;
    @include anims.util;

    margin-right: 5%;
    padding: var(--uikit-padding-util-strength-height);

    background: var(--uikit-background-util-content);
    border: var(--uikit-border-util-content);
    border-radius: var(--uikit-border-radius-util-content);

    max-width: 100%;

    display:inline-flex;
    flex-direction: column;
    align-items: center;  
}

.Notify__wrapper__title{
    display: flex;
    align-items: center;
}

.Notify__wrapper__title__text{
    margin: var(--uikit-margin-util-strength-width);
}

.Notify__wrapper__body{
    margin: var(--uikit-margin-util-strength-height);
}


.Notify__opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--uikit-z-index-util);

    .Notify__wrapper {
        @include anims.utilOpened;
    }
}

.Notify__isClosing {
    .Notify__wrapper {
        @include anims.utilClosing;
    }
}
