@use 'styles/effects/anims';

.Window {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout {
    @include anims.util;

    display: flex;

    background: var(--uikit-utils-bg);
    border-radius: var(--uikit-border-radius);

    min-width: 30%;
    min-height: 30vh;

    z-index: var(--uikit-utils-z-index);
}

.fullscreen{
    width: 100%;
    height: 100vh;
}

.content {
    display: flex;
    width: 100%;

    overflow: auto;

    margin: var(--uikit-margin-xs);
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--uikit-utils-z-index);

    .layout {
        @include anims.utilOpened;
    }
}

.isClosing {
    .layout {
        @include anims.utilClosing;
    }
}

.justify_start{
    justify-content: start;
}

.justify_center{
    justify-content: center;
}

.justify_end{
    justify-content: end;
}

.justify_between{
    justify-content: space-between;
}

.align_start{
    align-items: start;
}

.align_center{
    align-items: center;
}

.align_end{
    align-items: end;
}

.align_stretch{
    align-items: stretch;
}