@use 'styles/effects/anims';

.Window {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout {
    @include anims.util;

    display: flex;

    background: var(--uikit-utils-bg);
    border-radius: var(--uikit-border-radius);

    max-width: 60%;
    min-height: 10vh;

    z-index: var(--uikit-z-index-util);
}

.fullscreen{
    width: 100%;
    height: 100vh;
}

.content {
    display: flex;
    flex-shrink: 1;

    overflow: auto;

    padding: var(--uikit-padding-s);
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--uikit-z-index-util);

    .layout {
        @include anims.utilOpened;
    }
}

.isClosing {
    .layout {
        @include anims.utilClosing;
    }
}