@use 'styles/effects/glasses';
@use 'styles/effects/anims';

.Alert{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.Alert__overlay{
    padding-top: 5vh; 

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.Alert__overlay__content{
    @include glasses.util;
    @include anims.util;

    background: var(--uikit-background-util-content);
    border: var(--uikit-border-util-content);
    border-radius: var(--uikit-border-radius-util-content);

    padding: var(--uikit-padding-util-strength-width);
    border-radius: 12px;
    
    max-width: 60%;

    display:flex;
    flex-direction: column;
    align-items: center;
}

.Alert__overlay__content__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Alert__overlay__content__body__text{
    margin: var(--uikit-margin-util-strength-width);
}

.Alert__opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--uikit-z-index-util);

    .Alert__overlay__content {
        @include anims.utilOpened;
    }
}

.Alert__isClosing {
    .Alert__overlay__content {
        @include anims.utilClosing;
    }
}
