@use 'styles/effects/glasses';
.Tape{
    background: var(--uikit-widgets-bg);
    
    border-radius: var(--uikit-border-radius);

    


    .header{
        border-radius: var(--uikit-border-radius);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        padding: var(--uikit-padding-xs);
    };
    
    .content{
        max-height: 400px;

        border-radius: var(--uikit-border-radius);
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        overflow-y: auto;

        padding: var(--uikit-padding-xs);
    };
};