.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.options {
    min-width: 100%;
    background: var(--uikit-controls-bg-color);
    position: absolute;
    z-index: 10000;
    border-radius: 12px;
    //box-shadow: 4px 4px 8px var(--uikit-background-control);
}

.item {
    padding: var(--uikit-padding-s) var(--uikit-padding-m);
}
