@use 'styles/effects/anims';

.NotificationItem {
    z-index: -1;
    opacity: 0;
    pointer-events: none;

}

.content {
    @include anims.util;
    background: var(--uikit-utils-bg);
    border-radius: var(--uikit-border-radius);
}

.isOpen {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--uikit-utils-notification-z-index);
    //z-index: var(--uikit-utils-z-index);


    .content {
        @include anims.utilOpened;
        padding: var(--uikit-padding-xs) var(--uikit-padding-m);
        max-width: 420px;
        width: 100%;
    }
}

.isClosing {
    .content {
        @include anims.utilClosing;
    }
}
