:root{
    // Бэкграунд окон
    --uikit-background-window: var(--uikit-color-background-window);


    // Бэкграунд секций
    --uikit-background-section-block: var(--uikit-color-background-section-block);
    --uikit-background-section-element: var(--uikit-color-background-section-element);
    --uikit-background-section-modificator: var(--uikit-color-background-section-modificator);


    // Бэкграунд элементов управления
    --uikit-background-control: var(--uikit-color-background-control);
}