:root{
    //Бэкграунд элементов управления
    --uikit-background-controls: var(--uikit-color-background-controls);

    --uikit-background-content: #4d4d4d77;
    --uikit-background-content2: #63636377;
}