:root {
    // utils
    --uikit-utils-bg: var(--uikit-utils-bg-color);
    --uikit-utils-overlay-bg: var(--uikit-utils-overlay-bg-color);

    // notifications
    // Alert
    // NotificationList
    // modal
    // Modal
    // ModalConfirm
    // Overlay
    --uikit-overlay-bg: var(--uikit-overlay-bg-color);

    // windows
    // Window
    --uikit-window-bg: var(--uikit-window-bg-color);
}
