:root{
    // widgets
    --uikit-widgets-bg: var(--uikit-widgets-bg-color);
    --uikit-widgets-items-bg: var(--uikit-widgets-items-bg-color);
    // navigation
        //Navbar
        //Sidebar
    // information
        // Table
    --uikit-table-row-bg: var(--uikit-table-row-bg-color);
        // Tape
    --uikit-tape-item-bg: var(--uikit-tape-item-bg-color);
        // Accordion
    --uikit-disclosure-item-bg: var(--uikit-disclosure-item-bg-color);
        // ProgressBar
    --uikit-bar-bg-f: var(--uikit-bar-bg-color-f);
    --uikit-bar-bg-d: var(--uikit-bar-bg-color-d);
    --uikit-bar-bg-c: var(--uikit-bar-bg-color-c);
    --uikit-bar-bg-b: var(--uikit-bar-bg-color-b);
    --uikit-bar-bg-a: var(--uikit-bar-bg-color-a);
}