@use 'styles/effects/glasses';
.Card{
    @include glasses.second();

    display: inline-flex;

    margin: var(--uikit-margin-form-strength-height);
    padding: var(--uikit-padding-form-strength-height);

    border-radius: var(--uikit-border-radius-form);
	border: var(--uikit-border-form);
}