.ModalConfirm{
    display:flex;
    flex-direction: column;
}

.ModalConfirm__title{
    align-self: center;
}

.ModalConfirm__description{
    margin: var(--uikit-margin-util-strength-height);
}

.ModalConfirm__select{
    display: flex;
    align-items: center;
    justify-content: space-between;
}