@use 'styles/effects/glasses';
@use 'styles/effects/anims';


.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: var(--uikit-z-index-util);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    @include anims.util;

    background: var(--uikit-utils-bg);
    border-radius: var(--uikit-border-radius);

    max-width: 60%;

    z-index: var(--uikit-utils-z-index);

    padding: var(--uikit-padding-s);
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--uikit-utils-z-index);

    .content {
        @include anims.utilOpened;
    }
}

.isClosing {
    .content {
        @include anims.utilClosing;
    }
}