.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.options {
    min-width: 100%;
    background: var(--uikit-controls-bg-color);
    position: absolute;
    z-index: var(--uikit-controls-menu-z-index);
    border-radius: 12px;
    overflow: hidden;
}

.item {
    padding: var(--uikit-padding-s) var(--uikit-padding-m);
    cursor: pointer;
}
