@use '../../../controls';

.Button {
    @include controls.default-styles;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--uikit-padding-s) var(--uikit-padding-m);
    border-radius: var(--uikit-border-radius);
    outline: none;
    border: none;
    text-decoration: none;
    appearance: none;
    touch-action: manipulation;

    &:hover {
        @include controls.hover;

        // TODO
        .addonLeft svg,
        .addonRight svg {
            color: green;
            fill: green;
        }
    }

    &:active {
        @include controls.active;
    }
}

.addonLeft,
.addonRight {
    display: flex;
}

.disabled {
    @include controls.disabled;
}

.primary {
    background: var(--uikit-controls-bg);
}

.outline {
    border: var(--uikit-button-border);
    background: transparent;
}

.clear {
    background: none;
    border: none;
}

.cancel {
    background: var(--uikit-button-bg-cancel);
}

.accept {
    background: var(--uikit-button-bg-accept);
}

.fullWidth {
    width: 100%;
}

.square {
    padding: 0;
}

.padding_0 {
    padding: 0 var(--uikit-padding-xxs);
}

.padding_xxs {
    padding: var(--uikit-padding-xxs) var(--uikit-padding-xs);
}

.padding_xs {
    padding: var(--uikit-padding-xs) var(--uikit-padding-s);
}

.padding_s {
    padding: var(--uikit-padding-s) var(--uikit-padding-m);
}

.padding_m {
    padding: var(--uikit-padding-m) var(--uikit-padding-l);
}

.padding_l {
    padding: var(--uikit-padding-l) var(--uikit-padding-xl);
}

.padding_xl {
    padding: var(--uikit-padding-xl) var(--uikit-padding-xl);
}
