@use 'styles/effects/glasses';
@use 'styles/effects/shadows';
// @use 'styles/effects/clickes';
// @use 'styles/effects/guidance';

.Button {
	@include glasses.controls;

	padding: var(--uikit-padding-strength-width);
	margin: var(--uikit-margin-strength-height);

	display: inline-block;	

	outline: none;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;

	&:hover{
        @include shadows.control;
    }
    
    &:focus{
        @include shadows.control;
    }
}
.Button:focus-visible {
	box-shadow: 0 0 0 0.2rem rgba(232, 243, 255, 0.25);
}
.Button:hover {
	background-color: #afafaf;
}
.Button:active {
	transform: scale(0.96);
}
.Button:disabled {
	pointer-events: none;
	opacity: 0.65;
}