@use '../../../controls';

.Button {
	@include controls.defaultStyles;
	&:hover{
		@include controls.hover;
	}
	&:active{
		@include controls.active;
	}
	padding: var(--uikit-padding-control-strength-width);
	margin: var(--uikit-margin-control-strength-height);

	display: inline-flex;

	outline: none;
	text-decoration: none;
	user-select: none;
	appearance: none;
	touch-action: manipulation;

	border-radius: var(--uikit-border-radius-control);
	border: var(--uikit-border-controls);
}
.Button:focus-visible {
	@include controls.focus;
}

.Button:disabled {
	@include controls.disabled;
}