@use 'styles/effects/_glasses.scss';
@use 'styles/effects/_shadows.scss';


.WindowBrowserHeader{
    @include glasses.second();
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;

    @include shadows.form;

    padding: var(--uikit-padding-strength-width);

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}