@use 'styles/effects/_glasses.scss';
@use 'styles/effects/_shadows.scss';


.WindowBrowserHeader{
    @include glasses.light($radius:0px);
    @include shadows.box;

    padding: var(--uikit-padding-default);

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}