@use 'styles/effects/_glasses.scss';
@use 'styles/effects/_shadows.scss';


.WindowBrowserHeader{
    @include glasses.section();
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    @include shadows.section;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: var(--uikit-padding-section-strength-width);

    border-radius: var(--uikit-border-radius-window);
	border: var(--uikit-border-window);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}