@use '../controls';

::-webkit-scrollbar {
    @include controls.default-styles;

    border-radius: var(--uikit-border-radius);
    border: none;
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--uikit-controls-bg-color);
    border-radius: var(--uikit-border-radius);
}

::-webkit-scrollbar-thumb {
    @include controls.default-styles;

    border-radius: var(--uikit-border-radius);
    background-color: var(--uikit-theme-main-color);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
