.Panel{
    width: 500px;
    height: 500px;

    margin: var(--uikit-margin-strength-height);
    
    overflow-y: auto;

    padding: var(--uikit-padding-default);

    border-radius: var(--uikit-border-radius-window);

    background: repeating-linear-gradient(45deg, 
        rgb(73, 73, 73) 0.5%, rgb(32, 32, 32) 0.5%,
        rgb(73, 73, 73) 1%, rgb(32, 32, 32) 1%
    );
    border: 1px solid rgba(255, 255, 255, 0.2); 
}