@use 'styles/effects/glasses';
.Post{
    max-width: 600px;

    border: none;

    border-radius: var(--uikit-border-radius);

    background: var(--uikit-widgets-items-bg);

    padding: var(--uikit-padding-s);
}

.body{
    padding: var(--uikit-padding-xxs);
}

.header {
    padding: 0 var(--uikit-padding-s);
}