@use '../../../controls';
.RadioGroup{
    display: inline-flex;
    flex-direction: column;

    margin: var(--uikit-margin-control-strength-height);
    &:disabled{
        @include controls.disabled;
    }
}