@use '../../../controls';
.RadioGroup{
    background: var(--uikit-controls-bg);

    border-radius: var(--uikit-border-radius);

    padding: var(--uikit-padding-s);
}

.disabled{
    @include controls.disabled;
}