@use '../../assets/fonts/index';
@use 'styles/effects/shadows';

:root{
    //Основной шрифт
    --uikit-font-family-main: "RobotoThin";
    --uikit-font-family-title: "RobotoRegular";
    //Используемые размеры
    --uikit-font-size-title: 36px;
    --uikit-font-size-subtitle: 30px;
    --uikit-font-size-important: 24px;
    --uikit-font-size-regular: 20px;
    --uikit-font-size-regularsmall: 14px;

    //Используемые цвета
    --uikit-font-color-main: rgb(230, 230, 230);
    --uikit-font-color-secondary: rgb(163, 163, 163);
    --uikit-font-color-warning: rgb(255, 145, 0);
    --uikit-font-color-error: rgb(255, 86, 86);
    --uikit-font-color-successfully: rgb(62, 255, 62);
    --uikit-font-color-information: rgb(112, 162, 255);
}

// Глобально применяемые настройки
*{
    font-family: var(--uikit-font-family-main);
    font-size: var(--uikit-font-size-regular);
    color: var(--uikit-font-color-main);
    @include shadows.text;
}