@use 'styles/effects/glasses';
.Post{
    //@include glasses.light();
    //border: var(--uikit-border-window);
    border-radius: var(--uikit-border-radius-window);
    //border: none;
    background: var(--uikit-background-content2);

    display: flex;
    flex-direction: column;

    padding: var(--uikit-padding-strength-height);
    margin: var(--uikit-margin-strength-width);

    // background: repeating-linear-gradient(-45deg, 
    //     rgb(73, 73, 73) 0.5%, rgb(32, 32, 32) 0.5%,
    //     rgb(73, 73, 73) 1%, rgb(32, 32, 32) 1%
    // );
    

    max-width: 600px;
}

.Post__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: var(--uikit-margin-strength-height);
}

.Post__header__title{
    margin-right: 0.5rem;
}
.Post__body{
    margin-top: 0.5rem;
}