@use 'styles/effects/glasses';
.Post{
    max-width: 600px;

    @include glasses.fourth;
    border: none;

    display: flex;
    flex-direction: column;

    padding: var(--uikit-padding-strength-height);
    margin: var(--uikit-margin-strength-width);   
}

.Post__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: var(--uikit-margin-strength-height);
}

.Post__header__title{
    margin-right: 0.5rem;
}
.Post__body{
    margin-top: 0.5rem;
}