@use 'styles/effects/glasses';
.Post{
    @include glasses.sectionModificator;
    max-width: 600px;


    border: none;

    display: flex;
    flex-direction: column;

    padding: var(--uikit-padding-section-strength-height);
    margin: var(--uikit-margin-section-strength-width);   

    border-radius: var(--uikit-border-radius-section);
}

.Post__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: var(--uikit-margin-section-strength-height);
}

.Post__header__title{
    margin-right: 0.5rem;
}
.Post__body{
    margin-top: 0.5rem;
    padding: var(--uikit-padding-section-strength-height);
}