:root{
    --uikit-color-error: rgb(255, 0, 0);
    --uikit-color-warning: rgb(255, 162, 41);
    --uikit-color-successfully: rgb(0, 199, 0);
    --uikit-color-is-active: rgba(0, 255, 0, 0.39);
    --uikit-color-information: rgb(21, 122, 255);


//  Цвета окон
    --uikit-color-border-window: rgba(30, 30, 30, 0.4);

    --uikit-color-background-window: rgba(50, 50, 50, 0.3);

    --uikit-color-shadow-window: rgba(0, 0, 0, 0.808);


//  Цвета секций
    --uikit-color-border-section: rgba(35, 35, 35, 0.35);
    --uikit-color-border-section-block: rgba(40, 40, 40, 0.3);
    --uikit-color-border-section-element: rgba(40, 40, 40, 0.3);
    --uikit-color-border-section-modificator: rgba(45, 45, 45, 0.3);

    --uikit-color-background-section: rgba(45, 45, 45, 0.3);
    --uikit-color-background-section-block: rgba(40, 40, 40, 0.3);
    --uikit-color-background-section-element: rgba(35, 35, 35, 0.35);
    --uikit-color-background-section-modificator: rgba(30, 30, 30, 0.4);

    --uikit-color-shadow-section: rgba(255, 255, 255, 0.582);
    --uikit-color-shadow-section-block: rgba(255, 255, 255, 0.582);
    --uikit-color-shadow-section-element: rgba(255, 255, 255, 0.582);
    --uikit-color-shadow-section-modificator: rgba(255, 255, 255, 0.582);


//  Цвета элементов управления
    --uikit-color-border-control: var(--uikit-font-color-main);

    --uikit-color-background-control: #7e7e7e77;
    --uikit-color-background-control-hover: #afafaf94;

    --uikit-color-shadow-control: rgba(255, 255, 255, 0.473);
}