:root{
    --uikit-color-border-forms: black;

    --uikit-color-background-controls: #7e7e7e77;

    --uikit-color-border-forms: rgba(128, 128, 128, 0.479);
    --uikit-color-border-controls: var(--uikit-font-color-main);
    
}