:root {
    // controls
    --uikit-controls-bg-color: rgb(222 225 228 / 44.5%);
    --uikit-controls-bg-hover-color: rgb(0 0 0 / 60%);
    --uikit-controls-opacity-disabled: 0.7;

    // buttons
    --uikit-button-border-color: rgb(0 0 0 / 60%);
    --uikit-button-bg-color-cancel: rgb(255 0 0 / 60%);
    --uikit-button-bg-color-accept: rgb(0 255 0 / 39%);

    // inputs
    // Checkbox
    // RadioGroup
    // Slider
    // Switcher
    --uikit-switcher-bg-color-active: rgb(0 255 0 / 39%);

    // TextArea
    // TextFieldPassword
    // popups
    // scroll
    // links
    // shared
    // Stack
    // Skeleton
    // Text
    --uikit-text-color-main: rgb(255 255 255 / 100%);
    --uikit-text-color-secondary: rgb(163 163 163);
    --uikit-text-color-warning: rgb(255 162 41);
    --uikit-text-color-error: rgb(255 72 26);
    --uikit-text-color-successfully: rgb(0 199 0);
    --uikit-text-color-information: rgb(37 168 255);
}
