:root {
    --uikit-theme-main-color: white;
    --uikit-color-warning: rgb(189 107 0 / 60%);
    --uikit-color-error: rgb(197 39 0 / 60%);
    --uikit-color-success: rgb(0 165 0 / 50%);
    --uikit-color-info: rgb(0 118 197 / 60%);
}
