:root{
    --uikit-theme-main-color: white;

    --uikit-color-warning: rgba(189, 107, 0, 0.6);
    --uikit-color-error: rgba(197, 39, 0, 0.6);
    --uikit-color-success: rgba(0, 165, 0, 0.5);
    --uikit-color-info: rgba(0, 118, 197, 0.6);
}