:root{
// utils
    --uikit-utils-bg-color: rgba(6, 6, 6, 0.4);
    --uikit-utils-overlay-bg-color: rgba(6, 6, 6, 0.3);
    // notifications
        // Alert
        // NotificationList
    // modal
        // Modal
        // ModalConfirm
        // Overlay
    --uikit-overlay-bg-color: rgba(rgba(6, 6, 6, 0.6););
    // windows
        // Window
    --uikit-window-bg-color: rgba(105, 105, 105, 0.3);
}