:root {
    // utils
    --uikit-utils-bg-color: rgb(6 6 6 / 40%);
    --uikit-utils-overlay-bg-color: rgb(6 6 6 / 30%);

    // notifications
    // Alert
    // NotificationList
    // modal
    // Modal
    // ModalConfirm
    // Overlay
    --uikit-overlay-bg-color: rgba(rgb(6 6 6 / 60%) ;);

    // windows
    // Window
    --uikit-window-bg-color: rgb(105 105 105 / 30%);
}
