:root {
    // widgets
    --uikit-widgets-bg-color: rgb(6 6 6 / 40%);
    --uikit-widgets-items-bg-color: rgb(6 6 6 / 50%);

    // Table
    --uikit-table-row-bg-color: rgb(6 6 6 / 50%);

    // Tape
    --uikit-tape-item-bg-color: rgb(6 6 6 / 50%);

    // Accordion
    --uikit-disclosure-item-bg-color: rgb(6 6 6 / 50%);

    // ProgressBar
    --uikit-bar-bg-color-f: rgb(231 0 0 / 70%);
    --uikit-bar-bg-color-d: rgb(255 136 0 / 70%);
    --uikit-bar-bg-color-c: rgb(235 235 0 / 70%);
    --uikit-bar-bg-color-b: rgb(123 255 0 / 70%);
    --uikit-bar-bg-color-a: rgb(0 255 0 / 70%);
}
