// @use 'styles/effects/shadows';
@use '../../../controls';

.Link {
	transition: .3s ease;
	text-transform: uppercase;
	cursor: pointer;

	outline: none;
	background: transparent;
	box-shadow: none;
	border: none;

	&:hover {
		box-shadow: 0 2px 0 0 var(--uikit-text-color-main);
	};
}

// .Link:focus-visible {
// 	@include controls.focus;
// }

.Link:disabled {
	@include controls.disabled;
}

.Link:active {
	@include controls.active;
}