@use 'styles/effects/glasses';
@use 'styles/effects/shadows';
@use '../../../controls';

.Link {
	@include controls.defaultStyles;

	display: inline-block;	

	margin: var(--uikit-margin-control-strength-height);
	padding: var(--uikit-padding-control-strength-width);

	border-radius: var(--uikit-border-radius-controls);
	border: var(--uikit-border-controls);

	outline: none;
	text-transform: uppercase;
	text-decoration: none;

	appearance: none;
	touch-action: manipulation;
}
.LinkActive{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: 0 0.2rem 0 var(--uikit-font-color-main);
}
.LinkPassive{
	&:hover{
		@include controls.hover;
	}
	&:active{
		@include controls.active;
	}
}
.Link:focus-visible {
	@include controls.focus;
}
// .Link:focus-visible {
// 	box-shadow: 0 0 0 0.2rem rgba(232, 243, 255, 0.25);
// }

.Link:disabled {
	@include controls.disabled;
}