@use 'styles/effects/glasses';
@use 'styles/effects/shadows';
@use '../../../controls';

.Link {
	margin: var(--uikit-margin-control-strength-height);

	color: inherit;
	outline: none;
	text-decoration: none;
	transition: .3s ease;

	background: transparent;
	box-shadow: none;

	border: none;
	text-transform: uppercase;

	appearance: none;
	touch-action: manipulation;

	cursor: pointer;
}

.Link:focus-visible {
	@include controls.focus;
}

.Link:disabled {
	@include controls.disabled;
}

.Link:active {
	@include controls.active;
}