::-webkit-scrollbar{
    width: 15px;
    background-color: #b6b6b6b2;
    border-radius: var(--uikit-border-radius-window);
}

::-webkit-scrollbar-track{
    border: 3px solid rgba(255,255,255, 0.25);
    box-shadow: inset 0 0 2.5px rgba(0,0,0,0.5);
    border-radius: var(--uikit-border-radius-window);
}

::-webkit-scrollbar-thumb{
    background-color: #afafaf;
    border-radius: var(--uikit-border-radius-window);
}