:root{
    //Основной шрифт
    --font-family-main: "RobotoRegular";
    //Используемые размеры
    --font-size-headers-title: 34px;
    --font-size-headers-subtitle: 30px;

    --font-size-content-important: 22px;
    --font-size-content-regular: 20px;
    --font-size-content-regularsmall: 18px;
    --font-size-content-additional: 18px;

    --font-size-footer-important: 20px;
    --font-size-footer-regular: 16px;
    --font-size-footer-regularsmall: 14px;
    --font-size-footer-additional: 12px;
    //Используемые цвета
    --font-color-main: rgb(230, 230, 230);
    --font-color-secondary: rgb(32, 32, 32);
    --font-color-warning: rgb(255, 145, 0);
    --font-color-error: rgb(255, 38, 0);
    --font-color-information: rgb(0, 89, 255);
}