.font_size_title{
    font-size: var(--uikit-font-size-title);
}

.font_size_subtitle{
    font-size: var(--uikit-font-size-subtitle);
}

.font_size_important{
    font-size: var(--uikit-font-size-important);
}

.font_size_regular{
    font-size: var(--uikit-font-size-regular);
}

.font_size_regularsmall{
    font-size: var(--uikit-font-size-regularsmall);
}
