.font_color_main{
    color: var(--uikit-font-color-main);
}

.font_color_secondary{
    color: var(--uikit-font-color-secondary);
}

.font_color_warning{
    color: var(--uikit-font-color-warning);
}

.font_color_error{
    color: var(--uikit-font-color-error);
}

.font_color_successfully{
    color: var(--uikit-font-color-successfully);
}

.font_color_information{
    color: var(--uikit-font-color-information);
}
