@font-face {
    font-family: "RobotoThin";
    src: local("RobotoThin"),
    url("styles/assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoRegular";
    src: local("RobotoRegular"),
    url("styles/assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}