// @use 'styles/effects/glasses';
// @use 'styles/effects/clickes';
// @use 'styles/effects/guidance';

.Button {
	display: inline-block;	
	box-sizing: border-box;
	//padding: 0.5rem 1rem;
	padding: var(--uikit-padding-strength-width);
	margin: var(--uikit-margin-strength-height);
	outline: none;
	border: none;  
	border-radius: var(--uikit-border-radius-window);
	text-decoration: none;
	background-color: #b6b6b6b2;
	cursor: pointer;

	user-select: none;
	appearance: none;
	touch-action: manipulation;
}
.Button:focus-visible {
	box-shadow: 0 0 0 0.2rem rgba(232, 243, 255, 0.25);
}
.Button:hover {
	background-color: #afafaf;
}
.Button:active {
	transform: scale(0.96);
}
.Button:disabled {
	pointer-events: none;
	opacity: 0.65;
}


/*
.Button{
    @include glasses.white(2px);
    @include clickes.press;
    @include guidance.hover;

    display: inline-flex;

    padding: var(--uikit-padding-strength);
}

.ButtonPrimary{
    border: none;
}

.ButtonOutline{
    @include glasses.white(0px);
    border: 2px solid rgb(0, 0, 0); 
}
*/