.CardLayout {
    box-shadow: 10px 10px 20px rgb(0 0 0 / 60%);
}

.Card {
    overflow: auto;
    margin: var(--uikit-margin-xs);
}

.filled {
    background: var(--uikit-widgets-bg-color);
}

.outlined {
    background: none;
    border: 1px solid var(--uikit-theme-main-color);
}

.normal {
    border-radius: var(--uikit-border-radius);
}

.round {
    border-radius: 40px;
}

.fullWidth {
    width: 100%;
}

.fullHeight {
    height: 100%;
}

.padding_0 {
    padding: 0;
}

.margin_xxs {
    margin: var(--uikit-margin-xxs);
}

.margin_xs {
    margin: var(--uikit-margin-xs);
}

.margin_s {
    margin: var(--uikit-margin-s);
}

.margin_m {
    margin: var(--uikit-margin-m);
}

.margin_l {
    margin: var(--uikit-margin-l);
}

.margin_xl {
    margin: var(--uikit-margin-xl);
}
