.normal {
    background: var(--uikit-widgets-bg-color);
}

.outlined {
    background: none;
    border: 1px solid var(--uikit-theme-main-color);
}


.normal {
    border-radius: var(--uikit-border-radius);
}

.round {
    border-radius: 40px;
}



.fullWidth {
    width: 100%;
}

.fullHeight {
    height: 100%;
}



.padding_0 {
    padding: 0;
}

.padding_xxs {
    padding: var(--uikit-padding-xxs);
}

.padding_xs {
    padding: var(--uikit-padding-xs);
}

.padding_s {
    padding: var(--uikit-padding-s);
}

.padding_m {
    padding: var(--uikit-padding-m);
}

.padding_l {
    padding: var(--uikit-padding-l);
}

.padding_xl {
    padding: var(--uikit-padding-xl);
}
