.WindowBrowserTab{
    font-size: var(--font-size-content-important);
    color: var(--font-color-main);

    margin: 0px 5px;

    cursor: pointer;

    padding: 1rem 1.25rem;
    
    text-decoration: none;

    position: relative;

    transition: all .3s cubic-bezier(.2, 0, 0, 1);

    &:after {
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        bottom: 0;
        right: 1.25rem;
        left: 1.25rem;
        background-color: #ffffff;
        transition: all .3s cubic-bezier(.2, 0, 0, 1);
        transform-origin: bottom center;
        z-index: -1;
        border-radius: var(--uikit-border-radius-window);
    }
      
    &:hover {
        color: #2D2D2D;
        
        &:after {
            right: 0;
            left: 0;
            height: 100%;
        }
    }

}