.WindowBrowserTab{
    color: var(--uikit-font-color-secondary);

    margin: var(--uikit-margin-strength);
    padding: var(--uikit-padding-strength);

    cursor: pointer;
    
    text-decoration: none;
    position: relative;
    transition: all .3s cubic-bezier(.2, 0, 0, 1);
    &:after {
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        bottom: 0;
        right: 1.25rem;
        left: 1.25rem;
        background-color: #ffffff;
        transition: all .3s cubic-bezier(.2, 0, 0, 1);
        transform-origin: bottom center;
        z-index: -1;
        border-radius: var(--uikit-border-radius-window);
    }
      
    &:hover {
        color: var(--uikit-font-color-secondary);
        
        &:after {
            right: 0;
            left: 0;
            height: 100%;
        }
    }

}