@use '../../../controls';


.Switcher{
    margin: var(--uikit-margin-control-strength-height);
    &:disabled{
        @include controls.disabled;
    }
}

.Switcher__input{
    height: 0;
    width: 0;
    visibility: hidden;
}
  
.Switcher__label {
    @include controls.defaultStyles;
    &:hover{
		@include controls.hover;
	}
    border: var(--uikit-border-controls);

    width: 60px;
    height: 30px;

    display: block;
    border-radius: 50px;
    position: relative;

    text-indent: -9999px;
}
  
.Switcher__label:after {
    background: var(--uikit-font-color-main);

    border-radius: 24px;

    
    position: absolute;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;

    transition: 0.3s;
    content: '';
}

.Switcher__input__checked + .Switcher__label {
    background: var(--uikit-color-is-active);
}

.Switcher__input__checked + .Switcher__label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.Switcher__label:active:after {
    width: 30px;
}