.Alert{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}