.NavBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;

    .NavBar__link{
        margin: 0 .75em;
    }
    &:hover {
        .Link{
            opacity: 0.5;
            &:hover {
                opacity: 1;
            };
        };
    }
};