@use 'styles/effects/shadows';
@use 'styles/effects/anims';

@mixin defaultStyles{
    @include anims.control;
    
    user-select: none;
    cursor: pointer;
    background: var(--uikit-controls-bg);
}

// Ивенты для элементов управления

@mixin hover{
    background: var(--uikit-controls-bg-hover-color);
}

@mixin focus{
    // @include shadows.control;
}

@mixin active{
	transform: scale(0.95);
}

@mixin disabled{
    pointer-events: none;
	opacity: 0.5;
}