@use 'styles/effects/glasses';
@use 'styles/effects/shadows';
@use 'styles/effects/anims';

@mixin defaultStyles{
    @include anims.control;
    @include glasses.control;
    
    user-select: none;
    cursor: pointer;
}

// Ивенты для элементов управления

@mixin hover{
    background-color: var(--uikit-color-background-control-hover);
}

@mixin focus{
    @include shadows.control;
   
}

@mixin active{
	transform: scale(0.95);
}

@mixin disabled{
    pointer-events: none;
	opacity: 0.5;
}

// Валидация для элементов управления

.validationError{
    @include shadows.validation('error');
}

.validationWarning{
    @include shadows.validation('warning');
}

.validationSuccessfully{
    @include shadows.validation('successfully');
}