@use 'styles/effects/shadows';
@use 'styles/effects/anims';

@mixin default-styles {
    @include anims.control;

    user-select: none;
    cursor: pointer;
    background: var(--uikit-controls-bg);
}

// Ивенты для элементов управления

@mixin hover {
    opacity: 0.87;
}

@mixin focus {
    // @include shadows.control;
}

@mixin active {
    transform: scale(0.95);
}

@mixin disabled {
    pointer-events: none;
    opacity: 0.5;
}
