@use 'styles/effects/glasses';
@use 'styles/effects/shadows';

.col1 {
    width: 50px;
}
.col2 {
    width: 200px;
}
.col3 {
    width: 100px;
}
.col4 {
    width: 100px;
}
.col5 {
    width: 175px;
}
.col6 {
    width: 150px;
}

.col1, .col2, .col3, .col4, .col5, .col6{
    display: flex;
    justify-content: center;
} 
.WindowBrowser{
    @include glasses.window();
    @include shadows.window;

    display: inline-flex;
    flex-direction: column;
    align-items: center;

    max-height: 90%;
    max-width: 90%;

    margin: var(--uikit-margin-window-strength-quad);

    border-radius: var(--uikit-border-radius-window);
	border: var(--uikit-border-window);

    overflow: hidden;
}