@use 'styles/effects/glasses';
@use 'styles/effects/shadows';

.WindowBrowser{
    @include glasses.first();
    @include shadows.form;

    display: inline-flex;
    flex-direction: column;
    align-items: center;

    max-height: 90%;
    max-width: 90%;

    margin: var(--uikit-margin-quad);

    border-radius: var(--uikit-border-radius-windows);
	border: var(--uikit-border-windows);

    overflow: hidden;
}