@use 'styles/effects/glasses';
.Card{
    @include glasses.sectionBlock();

    display: inline-flex;

    margin: var(--uikit-margin-section-strength-height);
    padding: var(--uikit-padding-section-strength-height);

    border-radius: var(--uikit-border-radius-section);
	border: var(--uikit-border-section);
}