:root{
//  Рамки окон
    --uikit-border-radius-window: 12px;

    --uikit-border-window: 1px solid var(--uikit-color-border-window);


//  Рамки форм
    --uikit-border-radius-form: 12px;

    --uikit-border-form: 1px solid var(--uikit-color-border-form);


//  Рамки элементов управления
    --uikit-border-radius-controls: 12px;
    
    --uikit-border-controls: 1px solid var(--uikit-font-color-main);
}