:root{
//  Рамки окон
    --uikit-border-radius-window: 12px;

    --uikit-border-window: 1px solid var(--uikit-color-border-window);


//  Рамки секций
    --uikit-border-radius-section: 12px;

    --uikit-border-section: 1px solid var(--uikit-color-border-section);


//  Рамки элементов управления
    --uikit-border-radius-control: 12px;
    
    --uikit-border-controls: 1px solid var(--uikit-font-color-main);
}