@use 'styles/effects/glasses';
.Panel{
    @include glasses.second();

    display: inline-flex;

    margin: var(--uikit-margin-strength-height);
    padding: var(--uikit-padding-strength-height);

    border-radius: var(--uikit-border-radius-forms);
	border: var(--uikit-border-forms);
}