// @use 'styles/effects/glasses';
@use 'styles/effects/anims';

.Alert{
    position: fixed;
    top: var(--uikit-margin-s);
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.title{
    align-self: center
}

.wrapper{
    //@include glasses.util;
    @include anims.util;

    //background: rgba(37, 168, 255, 0.6);
    border-radius: var(--uikit-border-radius);
    
    max-width: 60%;

    padding: 0 var(--uikit-padding-s);
}

.default{
    background: var(--uikit-utils-bg);
}

.warning{
    background: var(--uikit-color-warning);
}

.error{
    background: var(--uikit-color-error);
}

.success{
    background: var(--uikit-color-success);
}

.info{
    background: var(--uikit-color-info);
}

.isOpen {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--uikit-z-index-util);

    .wrapper {
        @include anims.utilOpened;
    }
}

.isClosing {
    .wrapper {
        @include anims.utilClosing;
    }
}
