.Flex {
    display: flex;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.alignStart {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}

.directionRow {
    flex-direction: row;
}

.directionColumn {
    flex-direction: column;
}

.directionColumnReverse {
    flex-direction: column-reverse;
}

.gap0 {
    gap: 0;
}

.gap_xxs {
    gap: var(--uikit-gap-xxs);
}

.gap_xs {
    gap: var(--uikit-gap-xs);
}

.gap_s {
    gap: var(--uikit-gap-s);
}

.gap_m {
    gap: var(--uikit-gap-m);
}

.gap_l {
    gap: var(--uikit-gap-l);
}

.gap_xl {
    gap: var(--uikit-gap-xl);
}

.max {
    width: 100%;
}
