.Table__row {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--uikit-padding-xs);

    &:nth-child(even) {
        // border-radius:  var(--uikit-border-radius);
        background: var(--uikit-table-row-bg-color);
    }
}
