@use '../../../../controls';

.Disclosure{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    background: var(--uikit-widgets-bg);
    border-radius: var(--uikit-border-radius);

    padding: var(--uikit-padding-s);
}

.arrow {
    transition: all 0.3s ease-out;
}

.open {
    transform: rotate(180deg);
}

.panel {
    padding-bottom: var(--uikit-padding-m);
}



.DisclosureButton {
    @include controls.defaultStyles;

    width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: var(--uikit-padding-xxs) var(--uikit-padding-s);
	
	border-radius: var(--uikit-border-radius);
	
	outline: none;
	border: none;
	text-decoration: none;
	appearance: none;
	touch-action: manipulation;

	&:hover{
		@include controls.hover;
	}
	&:active{
		@include controls.active;
	}
	&:focus{
		
	}
}

.disabled{
    @include controls.disabled;
}